.mainbox{
    background-color: dimgray;
}

.leftside{
    background-color: aqua;
}

.main{
    background-color: dimgray;
}
.rightside{
    background-color: red;
}

.footer{
    background-color: aqua;
}
