.mainbox{
    background-color: red;
}

.leftside{
    background-color: blue;
}

.main{
    background-color: yellow;
}
.rightside{
    background-color: pink;
}

.footer{
    background-color: orange;
}
